.ribbons .ribbon{
    opacity:0.5;
}
.ribbons .ribbon.selected{
    opacity:1;
}
.ribbons .device,
.ribbons .effect{
    visibility:hidden;
}
.ribbons .device.selected,
.ribbons .effect.selected{
    visibility:visible;
}
.ribbons .planet{
    display:none;
}
.ribbons .planet.selected{
    display:block;
}
